{% extends "layouts/main.html" %}

{% set nowPrototypeItListAdditionalClasses = "govuk-list govuk-list--bullet" %}
{% set nowPrototypeItParagraphAdditionalClasses = "govuk-body" %}
{% set nowPrototypeItLinkAdditionalClasses = "govuk-link" %}
{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include "prototype-core/includes/homepage-top.njk" %}

        <h1 class="govuk-heading-xl">
            {{ serviceName }}
        </h1>


        {% if govukFrontendAdaptor.settingsPageUrl and "/manage-prototype" in govukFrontendAdaptor.settingsPageUrl %}
            <p class="govuk-body-l">
                You can change your service name in the <a href="{{ govukFrontendAdaptor.settingsPageUrl }}">Plugin-specific configuration</a>.
            </p>
        {% endif %}

        {% include "prototype-core/includes/homepage-bottom.njk" %}
    </div>
</div>

{% endblock %}